node_modules/
build/
*.tsbuildinfo

# Environment
.env
.env.local

# Editor/IDE local configs
.[a-z]*/
!.git/
!.github/
/[A-Z]*.md
!/README.md

# OS
Thumbs.db
.DS_Store

# Plans/docs
docs/plans/

# Logs
*.log
npm-debug.log*
